.header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 40px
  height: 70px
  background-color: #fff
  box-shadow: 0 1px 3px rgba(0,0,0,0.1)
.burger
  display: none
  background: none
  border: none
  font-size: 22px
  cursor: pointer

.navWrapper
  display: flex
  justify-self: center

  @media screen and (max-width: 1180px)
    display: none
    position: absolute
    top: 70px
    left: 0
    width: 40%
    background: white
    flex-direction: column    
    gap: 15px
    box-shadow: 0 4px 12px rgba(0,0,0,0.1)
    &.open
      display: flex

@media screen and (max-width: 1180px)
  .burger
    display: block
    margin-left: 20px
  .right
    display: none
    margin-left: auto
.left
  cursor: pointer
  .logo
    height: 40px

.right
  display: flex
  gap: 20px  

  .icon
    background: none
    border: none
    font-size: 16px
    color: #111
    cursor: pointer