@mixin arrowEffect($size: 6%)
  .arrowImg
    transition: transform 0.3s ease
    width: $size
    height: $size
    filter: brightness(0) invert(0)
  &:hover .arrowImg
    transform: translateX(50%)
.dropdown
  height:350px
  position: absolute
  top: 100%
  left: 50%
  transform: translateX(-50%)
  display: flex           
  gap: 20px
  background: #fff
  border-radius: 8px
  box-shadow: 0 4px 12px rgba(0,0,0,0.1)
  z-index: 100
  min-width: 900px
  overflow: hidden
  width: 100%
  align-items: stretch  
  box-sizing: border-box

.leftContainer
  font-size: 1rem 
  min-width: 340px 
  display: flex
  flex-direction: column
  gap: 25px   
  padding: 20px

.centerContainer
  min-width: 160px
  display: flex
  flex-direction: column
  border-left: 1px solid grey
  gap: 10px    
  padding: 20px

.rightContainer
  @include arrowEffect(50%)
  height: 100%
  display: flex
  flex-direction: column  
  text-align: start
  background: linear-gradient(to bottom, #b7aaff, #f3f3f3)
  gap:10px
  padding: 20px
  cursor: pointer
  

  .getStartedImgWrapper
    align-self: center    
    width: 90%
    height: 60%   
    border-radius: 10px
    transition: transform 0.3s ease
    overflow: hidden
  .getStartedImg
    width: 100%
    height: 100%
    transition: transform 0.3s ease  

  &:hover
    .getStartedImg
      transform: scale(1.20) rotate(10deg)
.text
    color: rgb(104, 104, 104)
    font-size: 1rem    
.popular
  background: linear-gradient(to right, #8868e0, #2d2df3)
  color: #fff
  padding: 4px 6px
  margin: 0px 0px 0px 5px 
  border-radius: 10px
  font-size: 13px

.getStarted
  font-weight: bold
  text-decoration: none
  color: #3f51b5

.secondItems
  border-radius: 5px
  padding: 4px  
  &:hover 
    color: #435399
    background-color: #c6e8f3
.icon 
    display: flex
    align-items: center    
    gap: 5px 
    background: none 
    border: none    
.textRight
    text-align: start
    font-size: 0.8rem
.searchIcon
    color: rgb(109, 118, 236)
.bold
    font-weight: bold